<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Api_AutoFramwork">
    <classes>
      <class name="com.qa.tests.LoginTest"></class>
      <class name="com.qa.tests.ContextTest"></class>
    </classes>
  </test> <!-- Api_AutoFramwork -->

  <listeners>
  </listeners>
</suite> <!-- Default Suite -->
